.Description {
    background: var(--red);
    color: white;
    padding: 160px 10%;
}

.Description h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.Description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

@media only screen and (max-width:1000px) {
    .Description {
        padding: 120px 8%;
    }

    .Description h1 {
        font-size: 42px;
    }
}

@media only screen and (max-width:600px){
    .Description h1 {
        font-size: 36px;
    }  
    
    .Description p {
        font-size: 16px;
    }
}