.Hero {
    background-image: url('./../../../assets/background.png');
    background-size: cover;
}

.Hero main {
    padding: 160px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Hero .thelogo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 40px;
}

.Hero .thelogo img{
    height: 200px;
}

.Hero .thelogo .content{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Hero .thelogo .content h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    color: white;
}

.Hero .thelogo .content h1 span {
    color: var(--secondaryred);
}

.Hero .thelogo .content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: white;
    margin-left: 8px;
    line-height: 100%;
}

.Hero .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Hero .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0px 30px;
    padding: 12px 30px;
    border-radius: 10px;
    background: var(--secondaryred);
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: white;
}

.Hero .buttons button.devfolio{
    background: #3770ff;
}

.Hero .buttons button.devfolio img{
    height: 24px;
    margin-right: 10px;
}

@media screen and (max-width:1080px){
    .Hero .thelogo img{
        height: 140px;
    }

    .Hero .thelogo .content h1 {
        font-size: 80px;
    }
    
    .Hero .thelogo .content p {
        font-size: 20px;
    }

    .Hero .buttons button {
        margin: 0px 20px;
    }
}

@media screen and (max-width:800px){
    .Hero .thelogo img{
        height: 120px;
    }

    .Hero .thelogo .content h1 {
        font-size: 60px;
    }
    
    .Hero .thelogo .content p {
        font-size: 18px;
    }

    .Hero .buttons{
         flex-direction: column;
    }

    .Hero .buttons button {
        margin: 10px 0px;
        width: 300px;
    }
}

@media screen and (max-width:600px){
    .Hero .thelogo img{
        height: 100px;
    }

    .Hero .thelogo .content h1 {
        font-size: 46px;
    }
    
    .Hero .thelogo .content p {
        font-size: 16px;
        margin-left: 4px;
    }

    .Hero .buttons button {
        width: 260px;
        font-size: 16px;
    }
}

@media screen and (max-width:450px){
    .Hero .thelogo img{
        height: 80px;
    }

    .Hero .thelogo .content h1 {
        font-size: 40px;
    }

    .Hero .buttons button {
        width: 70vw;
        min-width: 250px;
        font-size: 16px;
    }
}