.Welcome {
    background: black;
    color: white;
    padding: 160px 10%;
}

.Welcome h1 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 20px;
}

.Welcome h1 span{
    color: var(--red);
    padding: 6px;
    border: 1px solid gray;
}

.Welcome p {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    max-width: 900px;
}


@media only screen and (max-width:1000px){
    .Welcome {
        padding: 120px 8%;
    }

    .Welcome h1 {
        font-size: 42px;
    }    
}

@media only screen and (max-width:600px){
    .Welcome h1 {
        font-size: 36px;
    }  
    
    .Welcome p {
        font-size: 16px;
    }
}